* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #FAFAFA;
  color: #1746A2;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

select:focus {
  outline: none;
}

body {
  background: #FAFAFA;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: start;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  color: #1746A2;
  display: flex;
  padding: 0 32px;
  align-items: center;
  /* border-top: 2px solid #242424;
  border-right: 2px solid #242424;
  border-left: 2px solid #242424; */
  justify-content: space-between;
  height: 10vh;
  text-transform: uppercase;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

li {
  list-style: none;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #1746A2;
}

/* header .cell {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
} */

.title {
  border-right: 2px solid #242424;
  background: #1746A2;
  color: #FAFAFA;
}

.interface {
  display: flex;
  align-items: center;
  height: 100%;
}

.interface .cell {
  border-left: 2px solid #242424;
  height: 100%;
}

.about {
  font-size: 4rem;
}

.unopened {
  cursor: pointer;
  border: 2px solid #FAFAFA;
  background-color: #1746A2;
}

.flagged {
  background: url('./img/flag-solid.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.question {
  background: url('./img/question-solid.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
}

.mine {
  background: url('./img/bomb-solid.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.disabled {
  pointer-events: none;
}


/* Content */

#content {
  height: 90vh;
  width: 100vw;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#minesweeper {
  width: 100%;
}

#content .line {
  display: flex;
  align-items: center;
  justify-content: center;
}



#content .cell {
  /* height: calc(100vh/10);
  width: calc(100vw/10); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.2s;
}


/*  disclaimer */

.disclaimer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: center;
  background: #242424;
  color: #FAFAFA;
  font-size: 4rem;
  transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
}


.play-again {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;
  color: #242424;
  border: none;
  font-size: 4rem;
}
